body{ 
	margin: 0;
	font-size: 14px;
	font-family: "MicroSoft YaHei";
	background: url(../images/m.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
@keyframes music{ from{ height: 2px; }}
@keyframes avatar{ to{ transform: rotate(1turn); } }
@keyframes tip { 40%{ opacity: 1; } 80%{ opacity: 1; } 100%{ opacity: 0; } }
.player{
	position: relative;
	width: 360px;
	padding: 20px;
	margin: 50px auto 0;
	background: rgba(85,136,170,.4);
	perspective: 2000px;
}
.avatar{
	width: 120px;
	height: 120px;
	margin: 20px auto;
	border-radius: 100%;
	overflow: hidden;
	animation: avatar 10s linear infinite;
}
.avatar:hover{ animation-play-state: paused; }
audio{ 
	display: block;
	width: 100%;
	margin: 20px auto;
}
/*歌曲列表*/
.listbox{ 
	width: 100%;
	height: 180px;
	padding: 0; 
	margin: 20px auto 0;
	line-height: 30px;
	background: yellowgreen;
	overflow: auto;
}
.listbox::-webkit-scrollbar,.addlist::-webkit-scrollbar{ width: 8px; }
.listbox::-webkit-scrollbar-track,.addlist::-webkit-scrollbar-track{ background: transparent; }
.listbox::-webkit-scrollbar-thumb,.addlist::-webkit-scrollbar-thumb{
	border-radius: 8px;
	background: rgba(0,0,0,.3);
}
.listbox::-webkit-scrollbar-button,.addlist::-webkit-scrollbar-button{ height: 0;}
.listbox li{
	height: 30px;
	position: relative;
	padding-left: 20px;
	padding-right: 40px;
	list-style: none;
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	z-index: 90;
	transition: height .5s;
}
.listbox li i{
	display: none;
	position: absolute;
	bottom: 7px; right: 10px;
	width: 3px; height: 16px;
	background: #fff;
}
.listbox li i:before,.listbox li i:after{
	content: '';
	position: absolute;
	bottom: 0; width: 3px;
	background: #fff;
}
.listbox li i:before{ 
	left: -12px; height: 8px; 	
} 
.listbox li i:after{ 
	left: -6px; height: 12px; 
}
.listbox li.active,.listbox li:hover{ background: rgba(0,0,0,.2);}
.listbox li.active i{ display: block;}
.listbox li.play i{ animation: music .5s ease-out infinite alternate; }
.listbox li.play i:before{ animation: music .3s ease-in infinite alternate; }
.listbox li.play i:after{ animation: music .7s ease-in infinite alternate; }
.listbox li.active:after{
	content: '';
	position: absolute;
	top: 12px; left: 7px;
	width: 6px; height: 6px;
	border-radius: 100%;
	background: #fff;
}
/*控制面板*/
.control{
	width: 100%;
	margin: 5px auto 20px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: rgba(85,136,170,.8);
}
.control > a{
	position: relative;
	float: left;
	display: block;
	width: 25%;
	height: 100%;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}
.control > a:hover{ background: rgba(0,0,0,.3); }
.control #addmusic{ font-size: 26px; }
.control .play:after{
	content: '';
	position: absolute;
	top: 50%;
	width: 2px; 
	height: 12px;
	margin-top: -6px;
	background: #fff;
}
.control #prev:after{ margin-left: -18px; }
.control #next:after{ margin-left: 2px; }
.control #playmode{
	background-image: url(../images/0.png);
	background-repeat: no-repeat;
	background-position: center;
}
/*上传歌曲*/
.uploadbox{
	position: absolute;
	top: 60%; left: 50%;
	width: 450px;
	padding: 20px 0;
	text-align: center;
	box-shadow: 0 0 20px rgba(0,0,0,.4);
	border-radius: 10px;
	background: #fff;
	transform: translate(-50%,-50%);
	opacity: 0;
	z-index: -1;
	transition: all 1s;
}
.uploadbox input[type="text"]{
	width: 80%;
	line-height: 30px;
	padding-left: 12px;
	margin: 10px 0;
	outline: none;
	border: 1px solid #e0e0e0;
}
.uploadbox .btn{
	display: inline-block;
	width: 80px;
	padding: 6px 8px;
	margin: 0 20px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
	background: yellowgreen;
}
.uploadbox .file{
	position: relative;
	width: 374px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto 20px;
}
.file input[type="file"]{
	position: absolute;
	top: 0; left: 0;
	width: 30%; height: 100%;
	opacity: 0;
	z-index: 2;
}
.file .upload{
	float: left;
	width: 30%; 
	height: 100%;
	font-size: 12px;
	color: #fff;
	opacity: 1;
	z-index: 1;
	background: yellowgreen;
}
.file p{ 
	width: 68%;
	height: 100%;
	text-align: left;
	margin-left: 32%; 
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tipbox{
	position: absolute;
	top: 50%; left: 50%;
	width: 200px;
	padding: 20px;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
	color: #fff;
	background: #58a;
	border-radius: 5px;
	opacity: 0;
	transform: translate(-50%,-60%);
	z-index: 0;
}
/*添加歌曲*/
.addbox{
	position: absolute;
	top: 0; right: 0;
	width: 400px;
	height: 100%;
	padding: 20px;
	text-align: center;
	background: rgba(255,255,255,.8);
	opacity: 0;
	z-index: -1;
	box-sizing: border-box;
	transition: transform 1s,opacity 1.5s;
	transform-origin: right;
}
.addbox > h3{
	color: #333;
	text-align: center;
	transform: rotateY(180deg);
}
.addbox .addlist{
	padding: 0;
	height: 360px;
	line-height: 30px;
	list-style: none;
	text-align: left;
	overflow: auto;
	background: #58a;
	transform: rotateY(180deg);
}
.addlist li{
	position: relative;
	padding: 0 20px;
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
.addlist li:nth-child(2n){
	background: rgba(255,255,255,.3);
}
.addlist li:hover{
	background: rgba(0,0,0,.3);
}
.addlist li.disable:after{
	content: '✔';
	position: absolute;
	top: 0; right: 0;
	width: 20px; height: 20px;
	text-align: center;
}
.addbox .btn{
	display: inline-block;
	width: 80px;
	line-height: 36px;
	margin: 0 20px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	background: #58a;
	transform: rotateY(180deg);
}